.reveal-if-active {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
}

input[id="yes"]:checked ~ .reveal-if-active {
  opacity: 1;
  max-height: 100px;
  overflow: visible;
}

.inline {
  display: inline-block; 
}