<!DOCTYPE html>
<html>

<body>
    <h2>Whitman Tree Information</h2>
    <form>
      <input type="checkbox" id="location" name="location" value="location">
      <label for="location"> use location services? </label><br>
      <label for="treeID"> Enter Tree ID:</label><br>
      <input type=text id="treeID" name="treeID"><br>
      <input type="submit" value="Submit"><br>
    </form>
    <h3>*Common Species Name Here </h3>
    <p> *pictures here</p>
    <h4> Class of 1959 Memorial Tree </h4>
    <p> Maple outside of the carriage entrance of Prentiss Hall. The tree is located at the bottom of the steps with the stone marker that is dedicated to Narcissa Whitman. Dedicated in 1994</p>
    <p>Height: ... <br>Age: ... <br> Species: <i> binomial nomenclature </i> <br> Family: common/specific</p>
    <h3>Trees Near this Tree </h3>
    <table class="Trees Near this Tree">
    <tbody>
    <tr>
    <td><strong>ID</strong></td>
    <td><strong>Species</strong></td>
    <td><strong>Height</strong></td>
    </tr>
    <tr>
    <td>U32</td>
    <td>: ... </td>
    <td>: ... </td>
    </tr>
    <tr>
    <td>U21</td>
    <td>: ... </td>
    <td>: ... </td>
    </tr>
    <tr>
    <td>U16</td>
    <td>: ... </td>
    <td>: ... </td>
    </tr>
    </tbody>
    </table>
    <p style="color:#0000ff;"> Have Something to say about this tree?</p>
    <p>Data Base Last Updated: ...</p>
    

</body>
</html>