{% extends "base.html" %}
{% block title %}Advanced Query{% endblock %}
{% block nava %}active{% endblock %}
{%block header%}
      <h2 class="hdr2">Advanced Query Form</h2>
{%endblock%}
{%block content%}
    <form action="/treeID/advanced_query_response/" method="get" enctype="multipart/form-data" class="adv_query_form">
        {% csrf_token %}
        <div class = "form_table_div">
            <table style="display : inline-table">
            {{ form.as_table }}
            </table>
            <input type="reset" style="float: bottom; vertical-align: bottom;">  <input type="submit" value="Submit" style="float: bottom; vertical-align: bottom;">
        </div>
    </form>
{% endblock %}