{% extends "base.html" %}
{% block title %}Comment{% endblock %}
{% block navc %}active{% endblock %}
{%block header%}
        <h2 class="hdr2">Comment Form</h2>
{%endblock%}
{%block content%}
    <form action="/treeID/comment_confirmation/" method="post" enctype="multipart/form-data" class="comment_form">
        {% csrf_token %}
        <div class = "form_table_div">
            <table style="display : inline-table">
                {{ form.as_table }}
                <tr>
                    <td>
                    <td><input type="submit" value="Submit" style="float: right;">
            </table>
        </div>
    </form>
{% endblock %}
