<!DOCTYPE html>

<body>
    <header>
        <h1>Whitman College Tree ID</h1>
        <h2>Comment View:</h2>
    </header>
    <ul>
        <form action="/admin/comment_approval/" method="post">
            {% for comment in comments %}
            <li>{{comment.treeID}} {{comment.comment_text}} {{comment.contact_info}}{{comment.approval}}</li>

            <img src="/media/{{comment.photo}}" />
            {% if comment.approval %}
            <div>
                <input type="radio" id="true" name = {{ comment.id }} value="True" checked>
                <label for="true">Approve</label>
                <input type="radio" id="false" name = {{ comment.id }} value="False">
                <label for="false">Deny</label>
            </div>
            {% else %}
            <div>
                <input type="radio" id="true" name = {{ comment.id }} value="True">
                <label for="true">Approve</label>
                <input type="radio" id="false" name = {{ comment.id }} value="False" checked>
                <label for="false">Deny</label>
            </div>
            {% endif %}
            {% endfor %}
            {% csrf_token %}
            <input type="submit" value="Approve Selected Comments"><br>
        </form>
    </ul>

</body>
</html>