<!DOCTYPE html>

<body>
    <header>
        <h1>Whitman College Tree ID</h1>
        <h2>Comment View:</h2>
    </header>
    <ul>
        <form action="/admin/comment_views/" method="post">
            {% for comment in comments %}
            <li>{{comment.ID}} {{comment.comment_text}} {{comment.contact_info}}{{comment.approval}}</li>

            <img src="/media/{{comment.photo}}" />
            {% csrf_token %}
            {{form}}
            
        </form>
        {%empty%}
        <li>No comments yet </li>
        {% endfor %}
        <form action="/admin/comment_views/" method="post">
            {% csrf_token %}
            <input type="submit" value="Approve Selected Comments"><br>
        </form>
    </ul>

</body>
</html>