<html>
<head>
<style>
body {background-color: rgb(0, 40, 104);}
h1   {color: white;}
h2   {color: white;}
p    {color: white;}
li    {color: white;}
</style>
</head>
<body>
    <h1>Whitman College Tree Information</h1>
    <h2>Tree {{context_dict.id}}</h2>
    <p>
    This is Tree {{context_dict.id}}. 
    {% if context_dict.group_%}
        It is a context_dict.group_. 
    {% endif %}
    {% if context_dict.leaf_fall %}
        It is {{context_dict.leaf_fall}}.
    {% endif %}
    {% if context_dict.name %}
        Its common name is {{context_dict.name}}.
    {% endif %}
    {% if context_dict.species_name%}
        Its scientific name is <i>{{context_dict.species_name}}</i>.
    {% endif %}
    {% if context_dict.family %}
        It is from the family <i>{{context_dict.family}}</i>.
    {% endif %}
    </p>

    {% if context_dict.is_champion %}
        <p> This is Champion Tree </p>
    {% endif %}
    {% if context_dict.is_memorial %}
        <p> This is memorial tree for {{context_dict.memorial_person}} </p>
    {% endif %}
    {% if context_dict.is_blue_mtn_native %}
        <p> This tree is native to the Blue Mountains </p>
    {% endif %}
    {% if context_dict.is_pacific_slope_native %}
        <p> This tree is native to the Pacific Slope </p>
    {% endif %}

<h2> Comments and Photos</h2>

    {% if comments %}
        <table>
        {% for comment in comments %}
        {% ifequal context_dict.id|stringformat:"s" comment.treeID|stringformat:"s" %}
        {% if comment.approval %}
        <li>{{comment.comment_text}}, Submitted: {{comment.created_at|date:"D d M Y" }} </li>
        <img src="/media/{{comment.photo}}"  style="height:300px;" />
        {% endif %}
        {% endifequal %}
        {% endfor %}
        </table>
    {% else %}
        <p> We don't have any comments or photos for this tree. Help us out by taking a photo and uploading it with a comment! </p>
    {% endif %}
    <div>
        <button type="button" onclick="location.href = '/treeID/query/'">go back</button>
    </div>
</body>
</html>
