{% extends "base.html" %}
{% block title %}Tree {{context_dict.id}}{% endblock %}

{%block content%}
<div id="id_response">
    <div class="header_box"><h2 class="hdr2" style="padding: 4px 8px;">Tree {{context_dict.id}}</h2></div>
    <p>
    This is Tree {{context_dict.id}}. 
    {% if context_dict.group_%}
        It is a context_dict.group_. 
    {% endif %}
    {% if context_dict.leaf_fall %}
        It is {{context_dict.leaf_fall}}.
    {% endif %}
    {% if context_dict.name %}
        Its common name is {{context_dict.name}}.
    {% endif %}
    {% if context_dict.species_name%}
        Its scientific name is <i>{{context_dict.species_name}}</i>.
    {% endif %}
    {% if context_dict.family %}
        It is from the family <i>{{context_dict.family}}</i>.
    {% endif %}
    </p>
    {% if context_dict.height_min is not None and context_dict.height_max is not None %}
        {% if context_dict.height_min == context_dict.height_max%}
            <p>This tree is around {{context_dict.height_min}} feet tall.</p>
        {% else %}
            <p>This tree is between {{context_dict.height_min}} and {{context_dict.height_max}} feet tall.</p>
        {% endif %}
    {% endif %}
    {% if context_dict.is_champion %}
        <p> This is Champion Tree </p>
    {% endif %}
    {% if context_dict.is_memorial %}
        <p> This is a memorial tree for {{context_dict.memorial_person}} </p>
    {% endif %}
    {% if context_dict.is_blue_mtn_native %}
        <p> This tree is native to the Blue Mountains </p>
    {% endif %}
    {% if context_dict.is_pacific_slope_native %}
        <p> This tree is native to the Pacific Slope </p>
    {% endif %}
    <p>latitude, longitude: {{context_dict.latitude}}, {{context_dict.longitude}}</p>

    <div class="header_box"><h2 class="hdr2" style="padding: 4px 8px;"> Comments and Photos</h2></div>

    {% if comments %}
        <table>
        {% for comment in comments %}
            {% ifequal context_dict.id|stringformat:"s" comment.treeID|stringformat:"s" %}
                <div style="padding: 20px 10px;">
                {% if comment.photo %}
                <img src="/media/{{comment.photo}}"  class="treephoto" />
                {% endif %}
                {% if comment.comment_text %}
                <li style = "list-style-type: none;">{{comment.comment_text}}, Submitted: {{comment.created_at|date:"D d M Y" }} </li>
                {% else %}
                <li style = "list-style-type: none;"> Submitted: {{comment.created_at|date:"D d M Y" }} </li>
                {% endif %}
                </div>
            {% endifequal %}
        {% endfor %}
        </table>
    {% else %}
        <p> We don't have any comments or photos for this tree. Help us out by taking a photo and uploading it with a comment! </p>
    {% endif %}
</div>
{% endblock %}
