<html>
<head>
  <style>
  body {background-color: rgb(0, 40, 104);}
  h1   {color: white;}
  h2   {color: white;}
  h3   {color: white;}
  p    {color: white;}
  li    {color: white;}
  .query_form {
    color: white;
  }
  </style>
  </head>
<body>
<h2>Whitman College Tree Information</h2>
<h3>Look for a small green tag on a tree:</h3>
<p>*metal tag photo here</p>
<form action="/treeID/query_response/" method="get" class="query_form">
  <!-- {% csrf_token %} -->
  {{ form }}
  <input type="submit" value="Submit"><br>
</form>

<div>
  <button onclick="location.href = '/treeID/comment/'">comment</button>
</div>

</body>
</html>
